/* this section is for navbar styling */
body {
  font-family: "Open Sans", sans-serif;
}

.logo_name {
  margin-left: 300px;
  font-weight: 800;
  color: rgb(113, 113, 237);
}

.navbar_links {
  margin-right: 300px;
}

.nav-link {
  font-weight: 700;
}

.home_link {
  color: rgb(113, 113, 237);
}

.navbar {
  background-color: white;
}

/* this is for the main header  */

.main_header {
  background-image: url(/images/home-bg.jpg);
  background-size: cover;
  height: 753px;
  color: white;
  text-align: center;
}

.dark_effect {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.header_paragraph {
  width: 820px;
  margin: 0 auto;
  font-size: 15px;
  font-style: italic;
  line-height: 1.7em;
}

#main_heading_title {
  padding-top: 120px;
  font-weight: 600;
}

.title_image {
  height: 370px;
  width: 600px;
  padding-top: 40px;
}

/* this is for the features section  */

#features {
  padding-top: 80px;
  padding-bottom: 80px;
}

#features .fa {
  font-size: 60px;
  color: rgb(113, 113, 237);
}

.col h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
}

/* this is for the second feature  */

#features2 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f2f2f2;
}

.container img {
  height: 300px;
  width: 500px;
}

.fa2 {
  color: white;
  background: rgb(113, 113, 237);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 20px;
  line-height: 40px;
}

#features2 span {
  float: left;
}

/* this is for the third feature  */

#features3 {
  padding-top: 80px;
  padding-bottom: 80px;
}

#features3 span {
  float: left;
}

/* this is for the fourth feature */

#pricing {
  background: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

#pricing h2 {
  padding-bottom: 70px;
  font-weight: bold;
}

.pricing_text {
  background: white;
  padding-bottom: 30px;
}

#pricing .pricing_text .pricing_title {
  background: rgb(113, 113, 237);
  color: white;
  padding: 30px;
  font-weight: bold;
}

#pricing .pricing_text .pricing_title p {
  font-size: 19px;
}

#pricing .pricing_text ul {
  list-style-type: none;
  padding: 0;
}

#pricing .pricing_text ul li {
  padding: 17px;
  color: grey;
}

#pricing .pricing_text button {
  border-radius: 0;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgb(113, 113, 237);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}

.elevated {
  position: relative;
  bottom: 25px;
}

#pricing .pricing_text button:hover {
  color: white;
  background: rgb(113, 113, 237);
  border: 1px solid rgb(113, 113, 237);
}

/* this is the download section  */

#download {
  padding-top: 80px;
  padding-bottom: 60px;
}

#download .download_main .download_title h2 {
  letter-spacing: 0.2em;
  padding-bottom: 25px;
  font-size: 30px;
  font-weight: bold;
}

#download .download_main .download_title p {
  line-height: 2em;
}

#download .download_main .download_title button {
  padding: 7px 30px 7px 30px;
  background: rgb(113, 113, 237);
  border: 1px solid rgb(113, 113, 237);
  color: white;
  font-weight: bold;
  margin-top: 25px;
}

#download .download_main .download_title button:hover {
  background: white;
  color: rgb(113, 113, 237);
}

#download .download_main .download_title button .fa_D {
  padding-right: 10px;
}

/* this is for contact section  */

#contact {
  padding-top: 70px;
  padding-bottom: 30px;
}

.contact_header {
  background-image: url(/images/contact-bg.jpg);
  background-size: cover;
  height: 500px;
  color: white;
}

.dark_effect2 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.contact_body {
  margin-top: 40px;
}

.main_contact_body {
  padding-top: 80px;
}

.form-control {
  border: none;
  border-radius: 0px;
  margin-bottom: 20px;
}

.text_area_special {
  height: 100px;
}

#contact button {
  padding: 10px 150px;
  border-radius: 0;
  background: rgb(113, 113, 237);
}

#contact button:hover {
  background: #f2f2f2;
  color: rgb(113, 113, 237);
  border: none;
}

footer {
  text-align: center;
  font-weight: bold;
  color: rgb(113, 113, 237);
}
